{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% extends layout %}


{% block meta %}
    <title>Solerni - Tous les MOOCS gratuits ouverts à tous sur la plateforme MOOCS d’Orange</title>
    <meta name="Description" content="Culture générale. Art. Histoire. Acculturation digitale. Découvrez des dispositifs d’apprentissages innovants et collaboratifs proposés sur la plateforme MOOC d’Orange">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% endblock %}



{% block bodyClasses %}{% endblock %}

{% block leftSide %}{% endblock %}

{% block section_content %}
<div
    ng-app="searchApp" ng-controller="ngSearchCtrl">

    <div id="slrn-wrapper" style="filter: alpha(opacity = 50); opacity:0.5; background-color:#606060">
        <div id="slrn-loader"><img src="{{ asset('bundles/orangesearch/images/loader.gif')}}"/></div>
    </div>

    {% stylesheets '@OrangeSearchBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12"
                 ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-box/view.html')}}'"
                 ng-controller="searchBoxCtrl">
            </div>
        </div>
        {% if app.user and app.user.getSessionsByUsers()|length > 0  or is_granted('ROLE_ADMIN') %}
            <div class="row slrn-header__subsearch">
                <div class="col-md-3 upcase">
                    {{ "filter_by"| trans({}, 'search') }} :
                </div>
                <div class="col-md-5"
                     ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-filters/private-public.html')}}'"
                     ng-controller="searchFiltersCtrl">
                </div>

            </div>
        {% endif %}
    </div>
    <div class="panel-body row">
        <div class="col-md-3">
            <div class="slrn-num-found"
                ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-num-found/view.html')}}'"
                ng-controller="searchNumFoundCtrl">
            </div>
            <div
                ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-filters/view.html')}}'"
                ng-controller="searchFiltersCtrl">
            </div>
        </div>

        <div class="col-md-9">
            <div
                ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-results/view.html')}}'"
                ng-controller="searchResultsCtrl">
            </div>
            <div class="slrn-footer__pager"
                ng-controller="searchPagerCtrl">
                <div class="col-md-6"
                     ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-pager/items-per-page.html')}}'">
                </div>
                <div class="col-md-6"
                     ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-pager/view.html')}}'">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-solr-error" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>Une erreur interne est survenue. Veuillez réessayer plus tard.</p>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'ok'|trans({}, 'platform') }}"/>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{%block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'search' }, true ) }}"></script>
    {% javascripts debug=false filter='jsmin'
        'bundles/orangesearch/js/angular.js'
        'bundles/orangesearch/js/ext-libs/angular-resource.js'
        'bundles/orangesearch/js/ext-libs/angular-sanitize.js'
        'bundles/orangesearch/js/ext-libs/ui/ui-utils-ieshiv.js'
        'bundles/orangesearch/js/ext-libs/ui/ui-utils.js'
        'bundles/orangesearch/js/ext-libs/ui/ui-bootstrap-tpls-0.11.0.js'
        'bundles/orangesearch/js/ng-search/ng-search.js'
        'bundles/orangesearch/js/ng-search/lib/filters/trans.js'
        'bundles/orangesearch/js/ng-search/lib/filters/path.js'
        'bundles/orangesearch/js/ng-search/lib/filters/truncate.js'
        'bundles/orangesearch/js/ng-search/lib/filters/tranfo.js'
        'bundles/orangesearch/js/ng-search/lib/factories/data-search-factory.js'
        'bundles/orangesearch/js/ng-search/lib/services/ng-search-service.js'
        'bundles/orangesearch/js/ng-search/ng-search-ctrl.js'
        'bundles/orangesearch/js/ng-search/search-results/search-results-ctrl.js'
        'bundles/orangesearch/js/ng-search/search-box/search-box-ctrl.js'
        'bundles/orangesearch/js/ng-search/search-filters/search-filters-ctrl.js'
        'bundles/orangesearch/js/ng-search/search-pager/search-pager-ctrl.js'
        'bundles/orangesearch/js/ng-search/search-num-found/search-num-found-ctrl.js'
    %}<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lte IE 8 ]>
        <script>
            jQuery( document ).ready(function() {
                checkForLabel = function() {
                    jQuery('.slrn-items-per-page__elmnt').each( function() {
                        if ( jQuery(this).is(':checked') ) {
                            jQuery(this).next('label').addClass('label-active');
                        }else {
                            jQuery(this).next('label').removeClass('label-active');
                        }
                    });
                }
                // IE8 fallback. Better change the angular application to deal with this, this is a IE8 quick fix
                setInterval( function() {
                    checkForLabel();
                }, 2000);
            });
        </script>
    <![endif]-->
{%endblock%}