{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% extends layout %}

{% block leftSide %}
{% endblock %}

{% block section_content %}
<div 
    ng-app="searchApp" ng-controller="ngSearchCtrl">
    
    <div id="slrn-wrapper">
        <div id="slrn-loader"><img src="{{ asset('bundles/orangesearch/images/loader.gif')}}"/></div>
    </div>
    
    {% stylesheets '@OrangeSearchBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <div class="panel-heading">
        <div class="col-md-12"
             ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-box/view.html')}}'"
             ng-controller="searchBoxCtrl">
        </div>
        <div class="col-md-12 row"
             ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-pager/items-per-page.html')}}'">
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div class="slrn-num-found" 
                 ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-num-found/view.html')}}'"
                 ng-controller="searchNumFoundCtrl">
            </div>
            <div
             ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-filters/view.html')}}'"
             ng-controller="searchFiltersCtrl">
            </div>
        </div>
        <div class="col-md-9"
             ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-results/view.html')}}'"
             ng-controller="searchResultsCtrl">
        </div>
    </div>
        
    <div class="panel-footer" ng-controller="searchPagerCtrl">
        <div class="col-md-9 col-md-offset-3"
             ng-include="'{{ asset('bundles/orangesearch/js/ng-search/search-pager/view.html')}}'">
        </div>
    </div>
</div>
{% endblock %}

{%block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'search' }, true ) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ext-libs/angular-resource.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ext-libs/angular-sanitize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ext-libs/ui/ui-utils-ieshiv.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ext-libs/ui/ui-utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ext-libs/ui/ui-bootstrap-tpls-0.11.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/ng-search.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/filters/trans.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/filters/path.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/filters/truncate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/filters/tranfo.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/factories/data-search-factory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/lib/services/ng-search-service.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/ng-search-ctrl.js') }}"/></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/search-results/search-results-ctrl.js') }}"/></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/search-box/search-box-ctrl.js') }}"/></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/search-filters/search-filters-ctrl.js') }}"/></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/search-pager/search-pager-ctrl.js') }}"/></script>
    <script type="text/javascript" src="{{ asset('bundles/orangesearch/js/ng-search/search-num-found/search-num-found-ctrl.js') }}"/></script>
{%endblock%}